body {
  background-image: linear-gradient(to right, #b993d6, #8ca6db);
}

#wrapper {
  border: 1px solid black;
  border-radius: 10px;
  width: 350px;
  height: 375px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  -webkit-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#main {
  font-family: 'Open Sans Condensed';
  text-align: center;
  padding: 45px;
  color: #3F403F;
}

img.resize {
  width: 35%;
  height: auto;
}

img.logo {
  width: 20%;
  height: auto;
}
