
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap");
 header{
  background-color: #dae1e7;
  padding-right:20px;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:10px;
 }
 header ::after {
   content : '';
   display: table;
   clear: both;
 }



nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  position: relative;
}
nav a {
  color: #00909e;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover{
  color:#142850;

}
nav a::before {
  content: '';
  display: block;
  width: 0%;
  height:5px;
  top: 0;
  background-color: white;
  position: absolute;
}
nav a:hover::before {
  width:100%;
}
.flex-container {

  padding: 100px;
  background-color:#00909e;
}
span {
  color: #dae1e7;
}
.logo{

float:left;



}

h1 {
  display:block;
  padding-left: 10px;

  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: 400;
  background-position: center;
  background-color: #dae1e7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  color: #00909e;
  overflow-x: hidden;
}
.club-intro{
  border: 10px;
  color: #dae1e7;
  position: absolute;
  padding-bottom: 20px;

margin-bottom: auto;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 20%)


}
.sub-paragraph {
  font-size: 15px;
  color: #dae1e7;

}

.club-meeting {
  background-color:#84a9ac;
  color: white;
  text-align: left;
  padding: 20px;
}


h3 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}



body {
 margin:0;
 padding:0;
  font-family: "Raleway", sans-serif ;
  font-weight: 100px;
  font-size: 22px;
}

.portrait-image {
    width:300px;
    height:400px;
    border: 2px solid black;
    object-fit: contain;
}

.navbar {
  text-align: right;
  color: #00005c;
}

section {
  text-align: center;
}

p{
  font-family: serif;
}

.pfp {
  width: 200px;
  length: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: #84a9ac solid 3px;
  background-position: center;
}
